@import "../../../stylesheets/variables/_all";
@import "../../../stylesheets/mixins/_scrollable";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@keyframes bar-stripes {
  from { background-position: 1rem 0; }
  to { background-position: 0 0; }
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.fileList {
  @include scrollbox-vertical();
  max-height: 35vh;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  > thead {
  }

  > tbody {
    text-align: left;

    [dir="rtl"] & {
      text-align: right;
    }

    > tr {
      border-bottom: 1px solid var(--color-gray-light);

      &:last-child {
        border-bottom: 0;
      }

      &:hover,
      &:focus {
        background-color: transparentize(#8B9AA8, .85);
      }

      th,
      td {
        padding: calc(var(--sm-padding-y) * 2) calc(var(--sm-padding-x) / 2);
        white-space: nowrap;
      }

      th {
        font-weight: bold;
        color: var(--color-gray-dark);
      }

      td {
      }
    }
  }
}

.tableItemIcon,
.tableItemActions,
.tableItemStatus,
.tableItemCurrent {
  width: 1%;
}

.tableItemActions {
  min-width: 68px; // size of the 2 icons (check/trash)
  text-align: left;

  [dir="rtl"] & {
    text-align: right;
  }
}

.tableItemIcon > i {
  // font-size: 1.35rem;
  font-size: 14px;
}

.tableItemName {
  height: 1rem;
  width: auto;
  position: relative;

  &:before {
    content: "\00a0";
    visibility: hidden;
  }

  > span {
    @extend %text-elipsis;
    position: absolute;
    left: 0;
    right: 0;

    [dir="rtl"] & {
      right: 1rem;
    }
  }
}

.tableItemCurrent {
  padding-left: 0;
  padding-right: inherit;

  [dir="rtl"] & {
    padding-left: inherit;
    padding-right: 0;
  }
}

.tableItemStatus {
  text-align: right;

  [dir="rtl"] & {
    text-align: left;
  }
}

.tableItemNew {
  background-color: rgba(0, 128, 129, 0.05);
}

.tableItemUploading {
  background-color: rgba(0, 128, 129, 0.25);
}

.tableItemConverting {
  background-color: rgba(0, 128, 129, 0.25);
}

.tableItemError {
  background-color: rgba(223, 39, 33, 0.25);
}

.tableItemAnimated {
  background-image: linear-gradient(45deg,
	rgba(255, 255, 255, .15) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .15) 50%,
	rgba(255, 255, 255, .15) 75%,
	transparent 75%,
	transparent
  );
  background-size: 1rem 1rem;

  :global(.animationsEnabled) & {
    animation: bar-stripes 1s linear infinite;
  }
}

.itemAction {
  div > i {
    margin-top: .25rem;
  }
}

.itemAction,
.itemAction > i {
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.35rem;
  color: var(--color-gray-light);
  padding: 0;

  :global(.animationsEnabled) & {
    transition: all .25s;
  }

  :hover, :focus {
    padding: unset !important;
  }
}

.itemActionRemove {
  background-color: transparent;
  border: 0 !important;

  & > i:focus,
  & > i:hover {
    color: var(--color-danger) !important;
    background-color: transparent;
  }

  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: .5;
    box-shadow: none;
    pointer-events: none;
  }
}

.checked > i {
  color: var(--color-success);
}

.dropzoneWrapper {
  width: 100%;
  display: flex;
  margin-top: calc(var(--lg-padding-y) * 5);
  margin-bottom: calc(var(--lg-padding-y) * 5);


  border: 1px solid grey;
  width: auto;
  text-align: center;
  font-size: 14px;
  /* color: white !important; */
  background-color: #0f70d7;
  margin: 0;
}

.dropzone {
  flex: auto;
  // border: 2px dashed;
  border-radius: var(--border-radius);
  padding: calc(var(--lg-padding-y) * 2.5) var(--lg-padding-x);
  text-align: center;
  // font-size: var(--font-size-large);
  font-size: 13px;
  cursor: pointer;
  padding: 0;
    // border: none;
}

.dropzoneActive {
  background-color: var(--color-gray-lighter);
}

.dropzoneIcon {
  font-size: calc(var(--font-size-large) * 3);
}

.dropzoneMessage {
  margin: var(--md-padding-y) 0;
}

.dropzoneLink {
  color: var(--color-link);
  text-decoration: underline;
  font-size: 80%;
  display: block;
  // width: auto;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.currentLabel {
  display: inline;
  padding: .25em .5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: var(--color-white);
  background: var(--color-primary);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: uppercase;
}


// Radio Button SCSS
* {
	margin: 0px;
	padding: 0px;
}
.toggle_radio {
  display: inline-flex;
	position: relative;
	background: rgba(255,255,255,.1);
	margin: 4px auto;
	overflow: hidden;
	padding: 0 !important;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 5px;
	position: relative;
	height: auto;
	width: 100%;
	>* {
		float: left;
	}
	input[type=radio] {
		display: none;
	}
	label {
		font: 50%/1.618 "Lato";
		color: rgba(0,0,0,.9);
		z-index: 0;
		display: block;
		width: 20px;
		height: auto;
		margin: 3px 3px;
		font-family: "Lato";
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		cursor: pointer;
		z-index: 1;
		text-align: center;
	}
}
.toggle_option_slider {  
	width: 30px;
	height: 30px;
	position: absolute;
	top: 14px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 2px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}
.active {
  background: #22222250;
  left: 0px;
}

.description {
  line-height: 30px;
  font-size: 1em;
}

p.selected {
	line-height: 10px;
    font-size: 2em;
    /* border: 1px solid black; */
    padding: 5px;
    border-radius: 10px;
    background-color: #ccc6c6;
    color: white;
}
p.toggle_option{
  line-height: 5px;
  padding: 5px;
	font-size: 2em;
}


// Media Modal Css
@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/modal/simple/styles";
@import "/imports/ui/stylesheets/mixins/focus";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

.header {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: inherit;  
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-lighter);
}

.videoOptions {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.overlay {
  @extend .overlay;
}

.modal {
  @extend .modal;
  padding: 1.5rem;
  min-height: 23rem;
}

.closeBtn {
  position: relative;
  background-color: var(--color-white);

  i {
    color: var(--color-gray-light);
  }

  &:focus,
  &:hover{
    background-color: var(--color-gray-lighter);
    i{
      color: var(--color-gray);
    }
  }
}
.warning{
  text-align: center;
  font-weight: var(--headings-font-weight);
  font-size: 5rem;
  white-space: normal;
}
.text{
  margin: var(--line-height-computed);
  text-align: center;
}

.main {
  margin: var(--line-height-computed);
  text-align: center;
  font-size: var(--font-size-large);
}

.startBtn {
  display: flex;
  align-self: center;
  &:focus {
    outline: none !important;
  }

  i{
    color: #3c5764;
  }

  margin: 0;
  // width: 40%;
  display: block;
  // position: absolute;
  bottom:   20px;
  color: var(--color-white) !important;
  background-color: var(--color-link) !important;
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  white-space: normal;

  @include mq(var(--small-only)) {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.videoUrl {
  margin: 0 var(--border-size) 0 var(--border-size);

  label {
    display: block;
  }

  input {
    @include inputFocus(var(--color-blue-light));
    display: block;
    margin: 10px 0 10px 0;
    padding: 0.4em;
    color: var(--color-text);
    line-height: 2rem;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid var(--color-gray-lighter);
    border-radius: var(--border-radius);

    :global(.animationsEnabled) & {
      transition: box-shadow .2s;
    }
  }

  span {
    font-weight: 600;
  }
}

.urlError {
  color: red;
  padding: 1em 0 2.5em 0;

  :global(.animationsEnabled) & {
    transition: 1s;
  }
}

.externalVideoNote {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  font-style: italic;
  padding-top: var(--sm-padding-y);
}

// Radio Button SCSS
* {
	margin: 0px;
	padding: 0px;
}
.toggle_radio {
	position: relative;
	background: rgba(255,255,255,.1);
	margin: 4px auto;
	overflow: hidden;
	padding: 0 !important;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 5px;
	position: relative;
	height: auto;
	width: 100%;
	>* {
		float: left;
	}
	input[type=radio] {
		display: none;
	}
	label {
		font: 50%/1.618 "Lato";
		color: rgba(0,0,0,.9);
		z-index: 0;
		display: block;
		width: 20px;
		height: auto;
		margin: 3px 3px;
		font-family: "Lato";
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		cursor: pointer;
		z-index: 1;
		text-align: center;
	}
}
.toggle_option_slider {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 14px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 2px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

.active {
  background: #22222250;
  left: 0px;
}

.description {
  // line-height: 30px;
  font-size: 1em;
}

span.description {
  top: 0px;
  
}
p.selected {
	line-height: 10px;
    font-size: 2em;
    /* border: 1px solid black; */
    padding: 5px;
    border-radius: 10px;
    background-color: #ccc6c6;
    color: white;
}
p.toggle_option{
  line-height: 5px;
  padding: 5px;
	font-size: 2em;
}


.document {
  padding-top: inherit;
  padding-bottom: 15px;
  border-bottom: var(--border-size) solid var(--color-gray-lighter);
}

.wrapper {
  padding-top: inherit;
  padding-bottom: inherit;
  border-bottom: var(--border-size) solid var(--color-gray-lighter);
}

.screen_selector{
  display: flex;
  margin-left: 2vw;
  padding-top: 3px;
}